.blog-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
}


.blog-section__main-entry {
    flex: 1;
    padding-right: 20px;
}

/* Estilos del elemento dentro del bloque blog-section (barra lateral) */
.blog-section__sidebar {
    width: 25%;
}

.blog-section__entry-title {
    font-size: 24px;
}

.blog-section__entry-content {
    line-height: 1.6;
}

.blog-section__sidebar-title {
    font-size: 20px;
}

.blog-section__sidebar-list {
    list-style: none;
    padding: 0;
}

.blog-section__sidebar-item {
    margin-bottom: 10px;
}