.header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC; 
}


.header__logo {
    width: 100px; 
    height: auto; 
    margin-right: 10px;
}

.header__title {
    font-size: 24px;
    margin: 0;
    padding-left: 10px; 
}