/* Poppins Regular (400) */
.font-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Poppins Medium (500) */
.font-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Poppins Bold (700) */
.font-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* Estilos del contenedor de la página */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}