.container_registro {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.container_registro__title {
  text-align: center;
  margin-bottom: 20px;
}

.form__group {
  margin-bottom: 10px;
}

.form__input,
.form__button,
.form__button_registro {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__button,
.form__button_registro {
  margin-top: 20px;
}

.form__button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #78be20;
  color: #fff;
  cursor: pointer;
}
.form__button_registro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
.form__button_registro svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
}

.span__inner {
  cursor: pointer;
  font-weight: bold;
}
.span {
  margin-right: 5px;
}
